<h1>Kellie Cakes</h1>

<div class="row">
    
<% if ((current_user) && (current_user.user_type == 'Admin')) %>
    <div id="new_button">
    <%= link_to "New", new_pastry_path %>
    </div>
    <% @pastries.each do |pastry| %>
            <div id="list" class="col-md-4">
            <div id="edit">
            <%= link_to "Edit", edit_pastry_path(pastry) %>
            </div> 
            <div id="show">  
            <%= link_to "Show", pastry_path(pastry) %>
            </div>
            <div id="delete">
            <%= link_to "Delete this pastry?...Yeah Sure!", pastry_path(pastry), method: :delete, data: { confirm: "Are you sure you want to delete this pastry?"} %>
            </div>
            <h2><%= pastry.name %></h2>
        <img src="<%= pastry.photo_url %>" onerror="this.src='http://i.imgur.com/2hazVqp.jpg'" class="img-responsive img-circle img-thumbnail"/>
        </div>
    <% end %>
    
<% end %>
</div>
<%= @selected_pastries.inspect.to_s %>







