<h1>Kellie Cakes</h1>


<%= link_to "New", new_pastry_path %>
<% @pastries.each do |pastry| %>
    <%= link_to "Edit", edit_pastry_path(pastry) %>   
    <%= link_to "Show", pastry_path(pastry) %>
    <%= link_to "Delete this pastry?...Yeah Sure!", pastry_path(pastry), method: :delete, data: { confirm: "Are you sure you want to delete this pastry?"} %>
    <%= image_tag pastry photo_url, width: "300" %>
<% end %>



