
<div id="mainContent"> 
    <div id="welcomeHeader">
        <h1>Kellie Cakes</h1>
    </div>
        <!--<div class="contact">
            <h2>Contact Us @: Kellie Haggett</h2>
                email: kelliehaggett@me.com-->
        
        </div>
   
    <div class="welcomeImage">
        <%= image_tag "IMG_0077.JPG", width: "250" %>
    </div>
    <div id="welcomeBio">
    <p>
            <div class='center'>
                Kellie's Gallery: 
                &nbsp;&nbsp; 
                <%= link_to "Wedding Cakes", controller: "pastries", category: "WEDDING" %>
                    &nbsp | &nbsp;
                <%= link_to "Birthday Cakes", controller: "pastries", category: "BIRTHDAY" %>
                    &nbsp | &nbsp;
                <%= link_to "Specialty Cakes", controller: "pastries", category: "SPECIALTY" %>
                    &nbsp | &nbsp;
                <%= link_to "CupCakes", controller: "pastries", category: "CUPCAKES" %>
                <!--
                <%= link_to "Wedding Cakes", root_path %>
                &nbsp;&nbsp; |&nbsp;&nbsp;
                <%= link_to "Birthday Cakes", root_path %>
                &nbsp;&nbsp; |&nbsp;&nbsp;
                <%= link_to "Speciality Cakes", root_path %>
                &nbsp;&nbsp; |&nbsp;&nbsp;
                <%= link_to "CupCakes", root_path %> -->
            </div>
            
    </p>

    <p></p>
    </div>


</div>
